.flex-container {
    display: flex;
    flex-direction: row;
    
    
}

.cover{
    height: 160px;
    width: 33.3%;
    display: flex;
}

.left{
    
    align-items: flex-end;
    font-size: 24px;
    text-align: left;
    font-family: 'Roboto',cursive;
    color: rgb(243, 243, 243);
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), 
    rgba(0, 0, 0, 0.15)), url("/coffee_shop_1.jpg");
    background-size: cover;
    background-position: center;
    
}

.center{
    color: rgb(255, 255, 255);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.2)), url("/coffee_shop_3.jpg");
    background-size: cover;
    background-position: center;
    
}

.right{
    color: rgb(255, 255, 255);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.2)), url("/coffee_shop_2.jpg");
    background-size: cover;
    background-position: center;
    
}

.cover8{
    display: flex;
    height: 1000px;
    background-image: url("/coffee_shop_8.jpg");
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: space-around;
    
}


.Card{
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    height: 550px;
    background-color: white;
    border-radius: 25px;
    justify-content: center;
}

.info1{
    display: flex;
    margin-top: 15px;
    width: 420px;
    height: 320px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
}

.section{
    display: flex;
}

.card-info{
    display: flex;
    justify-content: flex-start;
    width: 420px;
    height: 200px;
    justify-content: space-between;
    
}

.descripción{
    
    font-family: 'Roboto';
    text-transform: uppercase;
}

.precio{
    color: #09900E;
    font-size: 30px;
}

.reviews{
    display: flex;
    width: 120px;
    justify-content: center;
    align-self: flex-end;
    flex-wrap: wrap;
}